/*Import Component Designs*/
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/searchbar.css");
@import url("components/nav.css");
@import url("components/logo.css");
@import url("components/footer.css");
@import url("components/main.css");
@import url("components/menu.css");

body{
  font-family: arial, sans-serif;
}

.page{
  display: flex;
  flex-direction: column;
}


