.whole-page{
display: flex;
}

body{
	font-family: arial, sans-serif;
	font-size: 13px;
}

.nav-bar{
	justify-content: space-between;
	
}

ul{

}

li{
	display: inline;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}