.nav {
	display: flex;
	justify-content: space-between;
}

.nav-items{
	display: flex;
	align-items: center;
	position: relative;
	bottom: 15px;
	padding-top: 8px;
}

.nav-items li{
	margin: 0px 10px 10px 0px;
	font-size: 13px;
}

.nav-items a{
	text-decoration: none;
	color: rgba(0,0,0,0.87);
}

.nav-items a:hover{
	text-decoration: underline;
}