.search{
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 535px;
}

.search:hover{
	opacity: 1;
}

.languages{
	display: flex;
	justify-content: center;
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}