.search{
  display: flex;
  justify-content: space-around;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 18px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 400px;
  align-self: center;
  margin: 20px;
}

.search:hover{
	opacity: 1;
}

.languages{
	display: flex;
	justify-content: center;
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}